<!-- Form from search -->
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form role="form" class="table-form">
            <div class="form-group">
                <input ng-model="buscador" type="text" class="form-control" placeholder="Filtre por título...">
                <label class="radio-inline"><input ng-model="MovieController.tipoOrden" type="radio" value="title">Ascendente</label>
                <label class="radio-inline"><input ng-model="MovieController.tipoOrden" type="radio" value="-title">Descendente</label>
                <div>Mostrando <strong>{{movieFiltered.length}}</strong> películas de <strong>{{MovieController.movies.length}}</strong></div>
            </div>
        </form>
    </div>
</div>

<!-- Box with images -->
<div class="row">
    <div class="col-sm-6 col-md-4" ng-repeat="movie in movieFiltered = (MovieController.movies | filter:{title:buscador} | orderBy:MovieController.tipoOrden)">
        <div class="ih-item square effect6 from_top_and_bottom image-height">
            <a>
                <div class="img"><img ng-src="{{movie.thumb[0].preview}}" alt="img"></div>
                <div class="info overflow">
                    <h3>{{movie.title}}</h3>
                    <p>
                        <strong>"{{movie.originaltitle}}" <em>(título original)</em></strong> <br>
                        <strong>Año: </strong>{{movie.year}} <br>
                        <strong>Géneros: </strong>{{movie.genre}} <br>
                        <strong>Argumento:</strong> <br>
                        {{movie.plot}}  <br> <br>
                        <!--<strong>Reparto:</strong>-->
                        <!--<div class="panel panel-default">-->
                            <!--<ul class="list-group panel-heigth">-->
                                <!--<li class="list-group-item" ng-repeat="actor in movie.actor">-->
                                    <!--<div class="media">-->
                                        <!--<div class="media-left media-middle" ng-show="actor.thumb.length">-->
                                            <!--<img class="media-object image-actor-card" ng-src="{{actor.thumb}}" data-holder-rendered="true">-->
                                        <!--</div>-->
                                        <!--<div class="media-body">-->
                                            <!--<p>{{actor.name}} como {{actor.role}}</p>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</li>-->
                            <!--</ul>-->
                        <!--</div>-->
                    </p>
                </div>
            </a>
        </div>
    </div>
</div><!-- /.row -->
