<!-- Form from search -->
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form role="form" class="table-form">
            <div class="form-group">
                <input ng-model="buscador" type="text" class="form-control" placeholder="Filtre por título...">
                <label class="radio-inline"><input ng-model="MovieController.tipoOrden" type="radio" value="title">Ascendente</label>
                <label class="radio-inline"><input ng-model="MovieController.tipoOrden" type="radio" value="-title">Descendente</label>
                <div>Mostrando <strong>{{movieFiltered.length}}</strong> películas de <strong>{{MovieController.movies.length}}</strong></div>
            </div>
        </form>
    </div>
</div>

<!-- Box with images -->
<div class="row">
    <div class="col-sm-6 col-md-4" ng-repeat="movie in movieFiltered = (MovieController.movies | filter:{title:buscador} | orderBy:MovieController.tipoOrden)">
        <div class="thumbnail">
            <input type="checkbox" ng-model="movie.selected" ng-change="MovieController.addRemoveMovie(movie)" id="ng-change-example1" />
            <label for="ng-change-example1">Agregar al carro de compras</label><br />
            <div class="ih-item square effect6 from_top_and_bottom image-height">
                <a>
                    <div class="img">
                        <img ng-src="http://image.tmdb.org/t/p/w300/{{movie.posterPath}}" alt="img">
                        <div class="text-image">
                            <h3><span>{{MovieController.moviesPrice | currency : "Bs. "}}</span></h3>
                        </div>
                        <div class="text-title text-center">
                            <h4>{{movie.title}}</h4>
                        </div>
                    </div>
                    <div class="info overflow">
                        <h3>{{movie.title}}</h3>
                        <p>
                            <strong>"{{movie.originalTitle}}" <em>(título original)</em></strong> <br>
                            <strong>Año: </strong>{{movie.year}} <br>
                            <strong>Géneros: </strong>{{movie.genres}} <br>
                            <strong>Resolución: </strong>{{movie.mediaInfo.videoStream.resolution}} <br>
                            <strong>Audio: </strong>{{movie.mediaInfo.audios[0]}} <br>                
                            <strong>Argumento:</strong> <br>
                            {{movie.overview}}  <br> <br>
                        </p>
                    </div>
                </a>
            </div>
          <div class="caption">
            <p>
                <a href="#" class="btn btn-primary" role="button" ng-click="MovieController.openWindow(movie.tmdbId)">Detalles</a>
            </p>
          </div>
        </div>
    </div>
</div><!-- /.row -->
